@model Application.ViewModels.SaveShowViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;

    ViewData["Title"] = editMode == false ? "Crear serie" : "Editar serie";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card bg-dark border-light text-white p-3">
                <div class="card-header">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Show" asp-action="@(editMode? "Edit": "Create")" method="post">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre</label>
                            <input asp-for="Name" class="form-control bg-dark text-white" placeholder="Ingrese el nombre de la serie">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label">Enlace de la imagen</label>
                            <input asp-for="ImageUrl" class="form-control bg-dark text-white" placeholder="URL de la imagen">
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="VideoUrl" class="form-label">Enlace del video</label>
                            <input asp-for="VideoUrl" class="form-control bg-dark text-white" placeholder="URL del video">
                            <span asp-validation-for="VideoUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ProducerId" class="form-label">Productora</label>
                            <select asp-for="ProducerId" class="form-select bg-dark text-secondary">
                                <option value="0">Seleccione</option>
                                @foreach (var producer in Model.Producers)
                                {
                                    <option value="@producer.Id">@producer.Name</option>
                                }
                            </select>
                            <span asp-validation-for="ProducerId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PrimaryGenreId" class="form-label">Género primario</label>
                            <select asp-for="PrimaryGenreId" class="form-select bg-dark text-secondary">
                                <option value="0">Seleccione</option>
                                @foreach (var genre in Model.Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                            <span asp-validation-for="PrimaryGenreId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SecondaryGenreId" class="form-label">Género secundario</label>
                            <select asp-for="SecondaryGenreId" class="form-select bg-dark text-secondary">
                                <option value="0">Seleccione</option>
                                @foreach (var genre in Model.Genres)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            </select>
                            <span asp-validation-for="SecondaryGenreId" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                        <a asp-controller="Show" asp-action="Index" class="btn btn-outline-secondary">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
