
@model Application.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
} 
<div class="container-fluid mb-5">
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="row bg-dark d-flex justify-content-end">
            <div class="col-auto">
                <select asp-for="SelectedGenreId" name="SelectedGenreId" id="genre-all" class="form-select form-select-sm bg-dark text-secondary">
                    <option selected>Todos los géneros</option>
                    @foreach (var genero in Model.Genres)
                    {
                        <option value="@genero.Id">@genero.Name</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <select asp-for="SelectedProducerId" name="SelectedProducerId" id="producer-all" class="form-select form-select-sm bg-dark text-secondary">
                    <option selected>Todas las productoras</option>
                    @foreach (var productora in Model.Producers)
                    {
                        <option value="@productora.Id">@productora.Name</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <input asp-for="SearchByName" name="SearchByName" type="text" class="form-control form-control-sm bg-dark text-white fst-italic" placeholder="Buscar por serie">
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-success btn-sm" type="submit">Aplicar filtros</button>
            </div>
        </div>
    </form>
</div>

@if (Model.Shows == null || !Model.Shows.Any())
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            <img src="~/img/sad_tv.png" alt="Descripción de la imagen" />
            <h3 class="text-white mt-3">Lo sentimos. No se encontraron series disponibles.</h3>
        </div>
    </div>
}
else
{
    <div class="row row-cols-md-4 mt-2">
        @foreach (var item in Model.Shows)
        {
            <div class="col-md-3 px-2">
                <div class="col pb-2 p-0">
                    <div class="card text-white bg-dark h-100">
                        <img class="bd-placeholder-img card-img-top" src="@item.ImageUrl" alt="Imagen de @item.Name" />

                        <div class="card-body">
                            <h6 class="card-title text-white">@item.Name</h6>
                            <p class="card-text text-info">@item.PrimaryGenreName @item.SecondaryGenreName</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="card-text text-secondary">@item.ProducerName</span>
                                <a asp-controller="Show" asp-action="WatchShow" asp-route-id="@item.Id" class="btn btn-sm btn-danger ms-auto">Ver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}


