
@model Application.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid justify-content-end">
        <form class="" method="post" asp-controller="Home" asp-action="Index">
            <div class="me-2">
                <select asp-for="SelectedGenreId" name="SelectedGenreId" id="genre-all" class="form-select form-select-sm bg-dark text-secondary">
                    <option selected>Todos</option>
                    @foreach (var genero in Model.Genres)
                    {
                        <option value="@genero.Id">@genero.Name</option>
                    }
                </select>
            </div>
            <div class="me-2">
                <select asp-for="SelectedProducerId" name="SelectedProducerId" id="producer-all" class="form-select form-select-sm bg-dark text-secondary">
                    <option selected>Todas</option>
                    @foreach (var productora in Model.Producers)
                    {
                        <option value="@productora.Id">@productora.Name</option>
                    }
                </select>
            </div>
            <div class="input-group input-group-sm">
                <input asp-for="SearchByName" name="SearchByName" type="text" class="form-control bg-dark input-sm" placeholder="Show">
            </div>
            <button class="btn btn-outline-success btn-sm" type="submit" id="search-btn">Filtrar</button>
        </form>
    </div>
</nav>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-sm-2 mt-5 mx-3">

    @if (Model.Shows == null || !Model.Shows.Any())
    {
        <h3 class="text-white text-center">Lo sentimos. Por el momento no hay series disponibles.</h3>
    }
    else
    {
        foreach (var item in Model.Shows)
        {
            <div class="col mt-1 p-0">
                <div class="card text-white bg-dark h-100">
                    <img class="bd-placeholder-img card-img-top" src="@item.ImageUrl" alt="Imagen de @item.Name" />

                    <div class="card-body">
                        <h6 class="card-title text-white">@item.Name</h6>
                        <p class="card-text text-info">@item.PrimaryGenreName @item.SecondaryGenreName</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="card-text text-secondary">@item.ProducerName</span>
                            <a asp-controller="Show" asp-action="WatchShow" asp-route-id="@item.Id" class="btn btn-sm btn-danger ms-auto">Watch</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

